*.py linguist-detectable=true
*.in linguist-detectable=false
*.rst linguist-detectable=false
*.png linguist-detectable=false
*.ini linguist-detectable=false
.DS_Store linguist-detectable=false


*.rst linguist-vendored
test/* linguist-vendored
examples/* linguist-vendored
