include README.rst
include LICENSE
include CITATION.cff
include CHANGELOG.md
include CONTRIBUTING.rst
include SECURITY.md
include requirements.txt
recursive-include autobskan *.css *.ini *.in *.js
recursive-include docs *.py *.rst
recursive-include tests *.py
prune build
prune dist
global-exclude *.py[cod]
global-exclude .DS_Store
